<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>{{title}}</title>
</head>

<body>
    {{> header}}
    <h1 class="mt-2 mb-5">Home page</h1>
    <h3 class="mt-2 mb-3">This site help you find out weather in your city</h3>
    <a href="/weather"><button class="btn btn-danger">Check your weather</button></a>
    {{> footer}}
</body>

</html>