<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>WEATHER</title>
</head>

<body>
    {{> header}}
    <div class="d-flex">
        <h1 class="mt-3 center mx-4">Weather for {{city}}</h1>
        <img src="{{iconUrl}}" style="width: 40px; height:40px" class="mt-3">
    </div>
    <div class="container mt-4 mx-3">
        <form class="d-flex">
            <input type="text" class="form-control w-25" id="city" name="city" placeholder="Enter city">
            <a class="submit btn btn-danger mx-2">Search</a>
            <div class="error">
                <p class="text-danger">{{error}}</p>
            </div>
        </form>
        <table class="table table-striped mt-4">
            <tbody>
                <tr>
                    <td>Температура</td>
                    <td>{{temperature}}°C</td>
                </tr>
                <tr>
                    <td>Вологість</td>
                    <td>{{humidity}}%</td>
                </tr>
                <tr>
                    <td>Тиск</td>
                    <td>{{pressure}}</td>
                </tr>
                <tr>
                    <td>Стан погоди</td>
                    <td>{{description}}</td>
                </tr>
                <tr>
                    <td>Швидкість вітру</td>
                    <td>{{windSpeed}} km/h</td>
                </tr>
                <tr>
                    <td>Мінімальна-максимальна температура</td>
                    <td>{{minTemp}}-{{maxTemp}}°C</td>
                </tr>
            </tbody>
        </table>
    </div>
    {{> footer}}

    <script>
        const search = document.querySelector('input');
        const input = document.querySelector('#city');
        const a = document.querySelector('.submit');

        search.addEventListener('input', (e) => {
            search.value = search.value.replace(/\d/, '');
        })

        search.onsubmit = (e) => {
            e.preventDefault();
            return false;
        };

        a.addEventListener('click', (e) => {
            a.setAttribute('href', `/weather/${input.value}`);
        })
    </script>
</body>

</html>