<footer class="bg-light text-center text-lg-start fixed-bottom">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright: Baginskiy Dima
        <a class="text-dark" href="https://www.instagram.com/_prostodima/?hl=uk" target='_blank'>Contacts</a>
    </div>
</footer>